html{
    font-size:10pt;
    color:floralwhite;
    background-image:url('../cork-board.png')
}

body,html{
    margin:0;
    padding:0
}
    
body{
    font-family:'Amatic SC', cursive;
    font-size:12pt;
    display:flex;
    flex-direction:column
}
    
body *{
    padding-left:.5em
}

header>#login{
    flex-direction:column
}

header>#login,header>h1{
    display:flex;
    justify-content:center
}

header>h1{
    flex-direction:row;
    font-size:30pt;
    background-color:#808080;
    font-family:'Permanent Marker', cursive;
    color:#CC0066;
    padding-top:20pt;
    padding-bottom:20pt;
    margin-left:10em;
    margin-right:10em;
    border-radius:.5em
}

#login,main{
    display:flex;
    flex-direction:row;
    background-image:url('../cork-board.png')
}

#login{
    justify-content:right
}

#board,#sidebar{
    display:flex;
    flex-direction:column;
    background-color:#00994C;
    border-radius:.5em;
    margin-left:1em;
    margin-right:25em;
    padding:10pt
}

#board{
    flex-grow:10
}

footer{
    background-color: #808080;
    display: flex-end;
    clear: both;
    position: relative;
    height: 100px;
    margin-top: 100px;
}

@media (max-width:768px){
    html{font-size:2.3vmin}
    section{display:flex}
}

@media (min-width:768px){
    html{font-size:2.3vmin}
    section{display:flex}
}

@media (min-width:1200px){
    html{font-size:2.3vmin}
    section{display:flex}
}

html{
    font-family:sans-serif;
    font-size:10pt
}