html {
    font-family: sans-serif;
    font-size: 10pt;
}

html, body {
    margin:0;
    padding:0;
}

body {
    font-family: sans-serif;
    
    display: flex;
    flex-direction: column;

}

body * {
    border: .01em solid grey;
}

header > #login {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header > h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: row;
}

#login {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

#sidebar {
    display: flex;
    flex-direction: column;
}

#board {
    display: flex;
    flex-direction: column;
    flex-grow: 10;
}

footer {
    justify-items: flex-end;
}

@media (max-width: 768px) {
    html {
        font-size: 2.3vmin;
    }

    section {
        display: flex;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 2.3vmin;
    }

    section {
        display: flex;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 2.3vmin;
    }

    section {
        display: flex;
    }

}